<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBKuCJePewi8AMX4kzGA8nmfiz9tNcHxE</string>
	<key>GCM_SENDER_ID</key>
	<string>399850328830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>local.tim.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-tim-ahn</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-tim-ahn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399850328830:ios:55dc631eb372a2335a4baf</string>
</dict>
</plist>